*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', 'Poppins', sans-serif;
}

section {
  min-height: calc(100vh - 99px);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 18px;
}

table,
th,
td {
  border: 1px solid #e2e5e9;
}

button {
  cursor: pointer;
}

button:hover {
  scale: 1.02;
}

/* ............. Header and Hero section ............... */

.logoimg {
  width: 50px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  padding: 24px 5%;
}

.nav-link {
  color: #0d81ff;
}

.nav-link:hover {
  color: #075ebc;
}

.active {
  color: #075ebc;
  text-decoration: underline;
}

.navFst {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 18px;
}

.nav-sec {
  display: flex;
  gap: 20px;
}

.horizontal {
  height: auto;
  width: 2px;
  background: #111;
}

.rocketImg {
  width: 250px;
  height: auto;
}

.rocket {
  display: flex;
  gap: 10px;
  padding: 12px 24px;
  flex-direction: column;
}

.rocketDivSm {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rocketBtn {
  width: fit-content;
  border: none;
  padding: 10px;
  background: #5252f7;
  color: #fff;
}

.rocketDiv {
  display: flex;
  gap: 10px;
}

.reserved {
  font-weight: 600;
}

.round {
  height: 50px;
  width: 50px;
  border-right: 5px solid #111;
  border-left: 5px solid #111;
  border-bottom: 5px solid #111;
  border-radius: 50%;
  animation: round 2s infinite linear;
}

.pending {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pending p {
  font-size: 20px;
  font-weight: 500;
  color: blue;
}

/* ........... Missions Page ............ */

.missions-section {
  padding: 1rem 3rem;
}

.missions-table {
  border-collapse: collapse;
  width: 100%;
}

.missions-table th {
  padding: 1rem 0.5rem;
}

.missions-table thead {
  text-align: left;
}

.missions-table tr:nth-child(2) {
  border-bottom-color: transparent;
}

.missions-table tr:nth-child(2n) {
  background-color: #f2f2f2;
}

tbody td {
  padding: 1.5rem 0.5rem;
}

.mission-details td:nth-child(1) {
  font-weight: bold;
}

.mission-details td:nth-child(2) {
  width: 63%;
}

.mission-btn {
  background-color: transparent;
  padding: 0.6rem 0.7rem;
  margin: 0 auto;
  display: block;
  border-radius: 0.3rem;
}

.join-action {
  border: 1.8px solid #666b6f;
}

.leave-action {
  border: 1.8px solid #e56c76;
  color: #e56c76;
}

.member-badge {
  display: block;
  margin: 0 auto;
  width: fit-content;
  color: #fff !important;
  padding: 0.15rem 0.5rem;
  border-radius: 0.2rem;
}

.active-member {
  background-color: #18a2b8;
}

.not-active-member {
  background-color: #6d757d;
}

/* ............ User Profile ............ */

.missions-container {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  justify-content: center;
}

.missions-container header {
  font-size: 2rem;
  margin-bottom: 0.9rem;
}

.missions-column,
.rockets-column {
  padding: 1rem;
  height: auto;
  width: 40%;
  border-radius: 0.5rem;
}

.column-items {
  border-radius: 0.2rem;
  border: 1px solid rgb(201, 200, 200);
  box-shadow: 2px 2px 3px rgba(111, 110, 110, 0.09);
}

.column-item {
  border-bottom: 1px solid rgb(201, 200, 200);
  padding: 1rem 1rem;
  font-size: 1.1rem;
}

.column-item:last-child {
  border-bottom: none;
}

.reserve-link {
  color: #0d81ff;
}

.reserve-link:hover {
  color: #075ebc;
}

@keyframes round {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
